<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Save</servlet-name>
        <servlet-class>com.mycompany.registrationform.Save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllUsers</servlet-name>
        <servlet-class>com.mycompany.registrationform.ShowAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>com.mycompany.registrationform.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mycompany.registrationform.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>com.mycompany.registrationform.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Save</servlet-name>
        <url-pattern>/Save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllUsers</servlet-name>
        <url-pattern>/ShowAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
